<style>
  .active {
    background: {{ block.settings.primary_color }} !important;
  }

  .heading {
    color: {{ block.settings.secondary_font_color }};
    font-weight: {{ block.settings.bold_weight }};
    margin-bottom: 8px;
  }

  .title {
    font-weight: {{ block.settings.bold_weight }};
    margin: 0;
  }

  .title-container {
    display: inline-block;
    align-items: center;
    padding:0px 0px 3px 0px;
    margin-bottom: 14px;
    border-bottom: 3px solid {{ block.settings.primary_color }};
  }

  .bold {
    font-weight: {{ block.settings.font_weight }} !important;
  }
</style>

{% assign sections = "Design, Materials, Manufacturing, Logistics, Care & Use, End-of-life" | split: ", " %}
{% assign designerImage = product.metafields.bps.designerImage %}
{% assign settings = product.metafields.bps.settings %}
{% assign design = product.metafields.bps.design %}
{% assign materials = product.metafields.bps.materials %}
{% assign manufacturing = product.metafields.bps.manufacturing %}
{% assign logistics = product.metafields.bps.logistics %}
{% assign care = product.metafields.bps.care %}
{% assign end = product.metafields.bps.end %}
{% assign sectionIcons = "designIcon, materialsIcon, manufacturingIcon, logisticsIcon, careAndUseIcon, endOfLifeIcon" | split: ", " %}
{% assign counter = 0 %}

<story-container id="story-container" style="
  color: {{ block.settings.primary_font_color }};
">
  <content-container id="content-container">
    <navbar style="border-bottom: 1px solid {{ block.settings.secondary_color }};">
      <ul id="listContainer">
        {% for section in sections %}
          {% assign sectionTag = section | downcase | replace: "&", "and" | replace: " ", "-" %}
          {% assign sectionKey = sectionTag | split: "-" %}
          {% if settings.value[sectionKey[0]] %}
            {% assign handle = sectionIcons[counter] %}
            <li class="listItem">
              {% case handle %}
                {% when "designIcon" %}
                  {% render "designIcon", class: "wideIconLayout" %}
                  <div class="bulletContainer">
                    <div class="dottedLineContainer">
                      <div></div>
                    </div>
                    <div id="designBullet" class="bullet"></div>
                    <div class="dottedLineContainer">
                      <div class=" materialsLink dottedLine"></div>
                    </div>
                  </div>
                {% when "materialsIcon" %}
                  {% render "materialsIcon", class: "wideIconLayout" %}
                  {% render "bullet-dashed-line", bulletId: "materialsBullet", link1: "materialsLink", link2: "manufacturingLink" %}
                {% when "manufacturingIcon" %}
                  {% render "manufacturingIcon", class: "wideIconLayout" %}
                  {% render "bullet-dashed-line", bulletId: "manufacturingBullet", link1: "manufacturingLink", link2: "logisticsLink" %}
                {% when "logisticsIcon" %}
                  {% render "logisticsIcon", class: "wideIconLayout" %}
                  {% render "bullet-dashed-line", bulletId: "logisticsBullet", link1: "logisticsLink", link2: "careAndUseLink" %}
                {% when "careAndUseIcon" %}
                  {% render "careAndUseIcon", class: "wideIconLayout" %}
                  {% render "bullet-dashed-line", bulletId: "careAndUseBullet", link1: "careAndUseLink", link2: "endOfLifeLink" %}
                {% when "endOfLifeIcon" %}
                  {% render "endOfLifeIcon", class: "wideIconLayout" %}
                  <div class="bulletContainer">
                    <div class="dottedLineContainer">
                      <div class="dottedLine endOfLifeLink"></div>
                    </div>
                    <div id="endOfLifeBullet" class="bullet"></div>
                    <div class="dottedLineContainer">
                      <div></div>
                    </div>
                  </div>
              {% endcase %}
              <button id={{ sectionTag }} value={{ sectionTag }} class="nav-item" style="background: {{ block.settings.secondary_color }};">
                <p class="buttonContentWideLayout">{{ section }}</p>
                {% case handle %}
                  {% when "designIcon" %}
                    {% render "designIcon", class: "thinIconLayout" %}
                  {% when "materialsIcon" %}
                    {% render "materialsIcon", class: "thinIconLayout" %}
                  {% when "manufacturingIcon" %}
                    {% render "manufacturingIcon", class: "thinIconLayout" %}
                  {% when "logisticsIcon" %}
                    {% render "logisticsIcon", class: "thinIconLayout" %}
                  {% when "careAndUseIcon" %}
                    {% render "careAndUseIcon", class: "thinIconLayout" %}
                  {% when "endOfLifeIcon" %}
                    {% render "endOfLifeIcon", class: "thinIconLayout" %}
                {% endcase %}
              </button>
            </li>
          {% endif %}
          {% assign counter = counter | plus: 1 %}
        {% endfor %}
      </ul>
    </navbar>
    {% if settings.value.design %}
      <main-section id="design-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
        <div class="title-container">
          <p class="title">Product journey</p>
        </div>
        <p class="heading">Who designed it?</p>
        <div class="flex-row" style="align-items: flex-start;">
          {% if designerImage %}
            <div style="margin-top: 2px;">
              <div class="designerImageContainer">
                <img style="object-fit: cover;" width="50" height="50" src="{{ designerImage | img_url }}" alt="Designer image" />
              </div>
            </div>
          {% endif %}
          <p>Our designer, <span class="bold">{{ design.value.name }}</span> in our <span class="bold">{{ design.value.location }} studio</span></p>
        </div>
        <p style="margin-top: 8px;">{{ design.value.isCircularity}}</p>
      </main-section>
    {% endif %}
    
    {% if settings.value.materials %}
      <main-section id="materials-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
        <div class="title-container">
          <p class="title">Product journey</p>
        </div>
        <p class="heading">What is it made of?</p>
        <div class="flex-row">
          {% render "tick" %}
          <p>Primary material is <span class="bold">{{ materials.value.primary.material }} from supplier, {{ materials.value.primary.supplier }}</span></p>
        </div>
        <div class="flex-row">
          {% render "tick" %}
          <p><span class="bold">{{ materials.value.primary.certificate }}</span></p>
        </div>
        {% if materials.value.secondary.material %}
          <div class="flex-row">
            {% render "tick" %}
            <p>Other materials: <span class="bold">{{ materials.value.secondary.material }}</span></p>
          </div>
        {% endif %}
        {% if materials.value.secondary.additionalInformation %}
          <div class="flex-row">
            {% render "tick" %}
            <p>{{ materials.value.additionalInformation }}</p>
          </div>
        {% endif %}
      </main-section>
    {% endif %}

    {% if settings.value.manufacturing %}
      <main-section id="manufacturing-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
        <div class="title-container">
          <p class="title">Product journey</p>
        </div>
        <p class="heading">Where was it made?</p>
        <div class="flex-row" style="align-items: center; margin-bottom: 4px;">
          {% render "uk" %}
          <div style="
            background: #F9F9F9; 
            padding: 5px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
          ">
            <p> Made by our supplier, <span class="bold">{{ manufacturing.value.supplier.name }}</span> in {{ manufacturing.value.supplier.address }}</p>
          </div>
        </div>
        {% if manufacturing.value.supplier.livingWageEmployer %}
          <div class="flex-row">
            {% render "tick" %}
            <p><span class="bold">Living wage employer</span></p>
          </div>
        {% endif %}
        {% if manufacturing.value.supplier.auditInformation %}
          <div class="flex-row">
            {% render "tick" %}
            <p>
              {% for audit in manufacturing.value.supplier.auditInformation %}
                <span class="bold">{{ audit }}</span>
              {% endfor %}
            </p>
          </div>
        {% endif %}
        {% if manufacturing.value.supplier.energyInformation.length %}
          <div class="flex-row">
            {% render "tick" %}
            <p>
              {% for energy in manufacturing.value.supplier.energyInformation %}
                <span class="bold"></span>{{ energy }}</span>
              {% endfor %}
            </p>
          </div>
        {% endif %}
        <div class="flex-row">
          {% render "tick" %}
          <p>{{ manufacturing.value.waste }}</p>
        </div>
      </main-section>
    {% endif %}
    
    {% if settings.value.logistics %}
      <main-section id="logistics-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
        <div class="title-container">
          <p class="title">Product journey</p>
        </div>
        <p class="heading">How did it get here?</p>
        <div class="flex-row">
          {% render "tick" %}
          <p>Transportation by <span class="bold">{{ logistics.value.modeOfTransport }}</span></p>
        </div>
        {% if logistics.value.warehouse.location %}
          {% if logistics.value.warehouse.energy %}
            <div class="flex-row">
              {% render "tick" %}
              <p>Our warehouse in {{ logistics.value.warehouse.location }} uses <span class="bold">{{ logistics.value.warehouse.energy }} energy</span></p>
            </div>
          {% endif %}
        {% endif %}
        <div class="flex-row">
          {% render "tick" %}
          <p><span class="bold">{{ logistics.value.packaging.type }}</span> packaging</p>
        </div>
      </main-section>
    {% endif %}

    {% if settings.value.care %}
      <main-section id="care-and-use-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
        <div class="title-container">
          <p class="title">Product journey</p>
        </div>
        <p class="heading">How should I look after it?</p>
        <div class="flex-row">
          {% render "tick" %}
          <p>{{ care.value.washInfo }}</p>
        </div>
        <div class="flex-row">
          {% render "tick" %}
          <p>Use a <span class="bold">guppi bag</span></p>
        </div>
        {% if care.value.repair %}
        <div class="flex-row">
          {% render "tick" %}
          <p><span class="bold">Repair service offered</span></p>
        </div>
      {% endif %}
      </main-section>
    {% endif %}

    {% if settings.value.end %}
      <main-section id="end-of-life-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
        <div class="title-container">
          <p class="title">Product journey</p>
        </div>
        <p class="heading">What happens after?</p>
        <div class="flex-row">
          {% render "tick" %}
          <p>Designed to be worn {{ end.value.expNumWears }}</p>
        </div>
        {% if end.value.recycle.show %}
          <div class="flex-row">
            {% render "tick" %}
            <p>Recycling page</p>
            <a href="{{ end.value.recycle.link }}" target="_blank">{% render "panel" %}</a>
          </div>
        {% endif %}
        {% if end.value.takeBackScheme %}
          <div class="flex-row">
            {% render "tick" %}
            <p>This product has a take back scheme!</p>
          </div>
        {% else %}
          <p>This product does not have a take back scheme</p>
        {% endif %}
      </main-section>
    {% endif %}
  </content-container>
  <footer>
    {% render "poweredBy" %}
    {% render "bendiLogo" %}
  </footer>
</story-container>

{% schema %}
{
  "name": "bps",
  "templates": ["product"],
  "target": "section",
  "stylesheet": "bps.css",
  "javascript": "bps.js",
  "settings": [
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary color",
      "default": "#FDE639"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary color",
      "default": "#FBFBFB"
    },
    {
      "type": "color",
      "id": "primary_font_color",
      "label": "Primary font color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "secondary_font_color",
      "label": "Secondary font color",
      "default": "#64697A"
    },
    {
      "type": "number",
      "id": "bold_weight",
      "label": "Heading text font weight",
      "default": 700
    },
    {
      "type": "number",
      "id": "font_weight",
      "label": "Bold text font weight",
      "default": 600
    }
  ]
}
{% endschema %}