<style>
  .active {
    background: {{ block.settings.primary_color }} !important;
  }

  .heading {
    color: {{ block.settings.secondary_font_color }};
    font-weight: {{ block.settings.bold_weight }};
  }

  .title {
    font-weight: {{ block.settings.bold_weight }};
    margin: 0;
  }

  .title-container {
    display: inline-block;
    align-items: center;
    padding:0px 0px 3px 0px;
    margin-bottom: 14px;
    border-bottom: 2px solid {{ block.settings.primary_color }};
  }

  .bold {
    font-weight: {{ block.settings.font_weight }} !important;
  }
</style>

{% assign sections = "Design, Materials, Manufacturing, Logistics, Care & Use, End-of-life" | split: ", " %}
{% assign settings = product.metafields.bps.settings %}
{% assign design = product.metafields.bps.design %}
{% assign materials = product.metafields.bps.materials %}
{% assign manufacturing = product.metafields.bps.manufacturing %}
{% assign logistics = product.metafields.bps.logistics %}
{% assign care = product.metafields.bps.care %}
{% assign end = product.metafields.bps.end %}

<story-container id="story-container" style="
  color: {{ block.settings.font_color }};
  border: 1px solid {{ block.settings.border_color }}
">
  <navbar style="border-bottom: 1px solid {{ block.settings.secondary_color }};">
    <ul>
      {% for section in sections %}
        {% assign sectionTag = section | downcase | replace: "&", "and" | replace: " ", "-" %}
        {% assign sectionKey = sectionTag | split: "-" %}
        {% if settings.value[sectionKey[0]] %}
          <li class="listItem">
            <button id= {{ sectionTag }} value={{ sectionTag }} class="nav-item" style="background: {{ block.settings.secondary_color }};">
              {{ section }}
            </button>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </navbar>

  {% if settings.value.design %}
    <main-section id="design-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
      <div class="title-container">
        <p class="title">Product journey</p>
      </div>
      <p class="heading">Who designed it?</p>
      <p>Our designer, <span class="bold">{{ design.value.name }}</span> in our <span class="bold">{{ design.value.location }} studio</span></p>
      {% if design.value.isCicularity %}
        <p>This is a circular item</p>
      {% endif %}
    </main-section>
  {% endif %}
  
  {% if settings.value.materials %}
    <main-section id="materials-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
      <div class="title-container">
        <p class="title">Product journey</p>
      </div>
      <p class="heading">What is it made of?</p>
      <div class="flex-row">
        {% render "tick" %}
        <p>Primary material is <span class="bold">{{ materials.value.primary.material }}</span></p>
      </div>
      <div class="flex-row">
        {% render "tick" %}
        <p><span class="bold">{{ materials.value.primary.certificate }}</span></p>
      </div>
      <div class="flex-row">
        {% render "tick" %}
        <p>Other materials: <span class="bold">{{ materials.value.secondary.material }}</span></p>
      </div>
      <p>{{ materials.value.additionalInformation }}</p>
    </main-section>
  {% endif %}

  {% if settings.value.manufacturing %}
    <main-section id="manufacturing-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
      <div class="title-container">
        <p class="title">Product journey</p>
      </div>
      <p class="heading">Where was it made?</p>
      <div class="flex-row">
        {% render "tick" %}
        <p> Made by our supplier, <span class="bold">{{ manufacturing.value.supplier.name }}</span></p>
      </div>
      
      <p>Address: {{ manufacturing.value.supplier.address }}</p>
    </main-section>
  {% endif %}
  
  {% if settings.value.logistics %}
    <main-section id="logistics-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
      <div class="title-container">
        <p class="title">Product journey</p>
      </div>
      <p class="heading">How did it get here?</p>
      <div class="flex-row">
        {% render "tick" %}
        <p>Transportation by <span class="bold">{{ logistics.modeOfTransport }}</span></p>
      </div>
      <div class="flex-row">
        {% render "tick" %}
        <p>Our warehouse in {{ logistics.value.warehouse.location }} uses <span class="bold">{{ logistics.value.warehouse.energy }} energy</span></p>
      </div>
      <div class="flex-row">
        {% render "tick" %}
        <p><span class="bold">{{ logistics.value.packaging.quality }} {{ logistics.value.packaging.type }}</span> packaging</p>
      </div>
    </main-section>
  {% endif %}

  {% if settings.value.care %}
    <main-section id="care-and-use-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
      <div class="title-container">
        <p class="title">Product journey</p>
      </div>
      <p class="heading">How should I look after it?</p>
      <div class="flex-row">
        {% render "tick" %}
        <p>Washing at: <span class="bold">{{ care.value.washSettings }}</span></p>
      </div>
      <div class="flex-row">
        {% render "tick" %}
        <p>Use a <span class="bold">guppi bag</span></p>
      </div>
      <p>Washing instructions: {{ care.value.instructions }}</p>
    </main-section>
  {% endif %}

  {% if settings.value.end %}
    <main-section id="end-of-life-section" class="main-section invisible" style="width: 70%; padding: 10px 0px 0px;">
      <div class="title-container">
        <p class="title">Product journey</p>
      </div>
      <p class="heading">What happens after?</p>
      <div class="flex-row">
        {% render "tick" %}
        <p>Designed to be worn <span class="bold">{{ end.value.expNumWears }}+ times</span></p>
      </div>
      <div class="flex-row">
        {% render "tick" %}
        <p><span class="bold">Recycle</span> or <span class="bold">resell</span> to avoid landfill</p>
      </div>
      <p>Recyclability - {{ end.value.recycle }} </p>
      {% if end.value.takeBackScheme %}
        <p>This product has a tacke back scheme!</p>
      {% else %}
        <p>This product does not have a take back scheme</p>
      {% endif %}
    </main-section>
  {% endif %}

</story-container>

{% schema %}
{
  "name": "bps",
  "templates": ["product"],
  "target": "section",
  "stylesheet": "bps.css",
  "javascript": "bps.js",
  "settings": [
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary color",
      "default": "#FDE639"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary color",
      "default": "#FBFBFB"
    },
    {
      "type": "color",
      "id": "primary_font_color",
      "label": "Primary font color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "secondary_font_color",
      "label": "Secondary font color",
      "default": "#64697A"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#000000"
    },
    {
      "type": "number",
      "id": "bold_weight",
      "label": "Bold font weight",
      "default": 700
    }
  ]
}
{% endschema %}